html {
    scroll-padding-top: 80px;
}
body {
    padding-bottom: 20px;
}
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}
a.anchor {
    color: #E83524;
}
h1, h2, h3 {
    /*
    #273043
    #9197AE
    #EFF6EE
    #FCF7F8
    */
    /*color: #EFAC3C;*/
}
h1 {
    margin-bottom: 25px;
}
a {
    color: #77A7C2;
}
a:hover {
    text-decoration: none;
}
h2, h3 {
    margin-top: 30px;
    border-bottom: 1px solid #FCF7F8;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.navbar {
    margin-bottom: 30px;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #EEE;
    height: 60px;
}
@supports (-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px)) {
    .navbar {
        background-color: rgba(255, 255, 255, 0.6);
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }
}
.document h1+ul, .document h1+ul ul {
    list-style: none;
}
.document div>h1+ul {
    margin-left: 0;
    padding-left: 0;
    line-height: 25px;
}
.document h1+ul li::before {
    content: "# ";
    color: #E83524; /* or whatever color you prefer */
    opacity: 0.5;
    margin-right: 5px;
}
code {
    color: #77A7C2;
}
h1 code, h2 code, h3 code {
    color: #333;
}

.panels {
    display: flex;
    flex-direction: row;;
    flex-wrap: wrap;
}

.left-panel {
    max-width: 340px;
    min-width: 240px;
    padding-right: 16px;
    flex: 1;
}

@media only screen and (max-width: 579px) {
    .left-panel {
        max-width: 579px;
    }
}

.right-panel {
    flex: 2;
    width: 0px;
    min-width: 340px;
    padding: 0px 16px;
}

.left-panel ul {
    list-style: none;
    line-height: 28px;
}
.left-panel ul a {
    color: #616161;
}
.left-panel ul a.router-link-active {
    color: #E83524;
}
.left-panel ul a b {
    color: #414141;
}
.left-panel ul a:hover {
    color: #E83524;
}
.left-panel ul a b:hover {
    color: #E83524;
}

.navbar-brand {
    font-size: 1.4rem;
}

.contribute {
    margin-top: 20px;
    color: #999;
    text-align: center;
}

.contribute a {
    color: #333;
}

pre {
    overflow: auto !important;
}

ol {
    margin-bottom: 2rem;
}
.language > .nav-dropdown {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    border: 1px solid;
    right: 20px;
    z-index: 9;
}

.language .dropdown-menu a {
    color: #616161;
    cursor: pointer;
}

.language .dropdown-item:hover, 
.language .dropdown-item:focus {
    color: #E83524 !important;
    text-decoration: none;
    background-color: #f8f9fa;
}
  
.language .dropdown-item.active, 
.language .dropdown-item:active {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.carbon-container {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-left: 80px;
    margin-right: 60px;
    min-width: 120px;
    margin-bottom: 20px;
}

#carbonads {
  --width: 180px;
  --font-size: 14px;
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  max-width: var(--width);
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, .1);
  background-color: hsl(0, 0%, 98%);
  font-size: var(--font-size);
  line-height: 1.5;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin-bottom: 8px;
  max-width: var(--width);
  line-height: 1;
}

.carbon-img img {
  display: block;
  margin: 0 auto;
  max-width: var(--width) !important;
  width: var(--width);
  height: auto;
}

.carbon-text {
  display: block;
  padding: 0 1em 8px;
}

.carbon-poweredby {
  display: block;
  padding: 10px var(--font-size);
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 9px;
  line-height: 0;
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  #carbonads {
    float: none;
    margin: 0 auto;
    max-width: 330px;
  }
  #carbonads span {
    position: relative;
  }
  #carbonads > span {
    max-width: none;
  }
  .carbon-img {
    float: left;
    margin: 0;
  }

  .carbon-img img {
    max-width: 130px !important;
  }
  .carbon-text {
    float: left;
    margin-bottom: 0;
    padding: 8px 20px;
    text-align: left;
    max-width: calc(100% - 130px - 3em);
  }
  .carbon-poweredby {
    left: 130px;
    bottom: 0;
    display: block;
    width: 100%;
  }
}

img {
  max-width: 100%;
  height: auto;
}
